%h1 Crear Cuenta

.unit
  .container.auth_wrapper
    = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
      = devise_error_messages!
      .unit
        = f.label :correo
        = f.email_field :email, class: "inp"
      .unit
        = f.label :contraseña
        = f.password_field :password, class: "inp"
      .unit
        = f.label :confirmar_contraseña
        = f.password_field :password_confirmation, class: "inp"
      .unit
        = f.submit "Crear Cuenta", class: "submit"
    %hr
    = render "devise/shared/links"
