.unit
  .container.auth_wrapper
    = form_for @student do |f|
      .unit
        = f.label :name, "Nombre"
        = f.text_field :name, class: "inp"
      .unit
        = f.label :surname, "Apellidos"
        = f.text_field :surname, class: "inp"
      = f.fields_for :user do |u|
        = render partial: 'shared/user_fields', locals: { u: u }
      .unit
        = f.submit "Registrarme", class: "submit"