%h1 Crear cuenta de ángel

.unit
  .container.auth_wrapper
    = form_for @angel do |f|
      .unit
        = f.label :name, "Nombre"
        = f.text_field :name, class: "inp"
        
      = f.fields_for :user do |u|
        = render partial: 'shared/user_fields', locals: { u: u }
      .unit
        = f.submit "Registrarme", class: "submit"