%h1 Olvidé mi contraseña

.unit
	.container.auth_wrapper
		= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
			= devise_error_messages!
			.unit
				= f.label :correo
				= f.email_field :email, class: "inp"
			.unit
				= f.submit "Enviar instrucciones", class: "submit"
		%hr
		= render "devise/shared/links"
