.unit.apoyalos
  = image_tag "apoyalos.png"
  .circles
    - Project.limit(5).each do |project|
      .popper
        = image_tag "circle_1.png"
        .unit.pop
          .container
            .column.fixed.info{style: "width:234px;"}
              .container
                .mini_wrapper
                  %h3
                    = project.title
                  %p
                    = truncate project.student.bio
                .percentage
                  .completed{style: "width:#{number_to_percentage project.current_percentage, precision: 0}"}
            .column.fixed.data{style: "width:105px;"}
              %ul
                %li
                  %strong= number_to_percentage project.current_percentage, precision: 0
                  %br
                  Avance
                %li
                  %strong= number_to_currency project.funded_count
                  %br
                  Acumulado
                %li
                  %strong= project.days_left
                  %br
                  Días restantes
                %li
                  #{link_to "Ver Más", project_path(project)}
