.unit
  = u.label :bio, "Biografía"
  = u.text_area :bio, rows: 4
.unit
  = u.label :email, "Correo electrónico"
  = u.email_field :email, class: "inp"
.unit
  = u.label :state, "Estado"
  = u.select :state, User::STATES
.unit
  = u.label :city, "Ciudad"
  = u.text_field :city, class: "inp"
%hr
.uni
  = u.label :password, "Contraseña"
  = u.password_field :password, class: "inp"
.unit
  = u.label :password_confirmation, "Confirmación de contraseña"
  = u.password_field :password_confirmation, class: "inp"
