= image_tag "landing_photo.jpg", style: "height:346px;"

%h1#count_up
	= "Actualmente apoyamos " + Project.count.to_s + " proyectos"

%h2.about
	¿Por qué lo hacemos?

.columns.on-2.about
	.container.shadow
		= image_tag "pitch.png", style: "height:778px;"
