%h1
	Haz conciencia

#content_mapa
	%h2
		Beneficiarios de PRONABES en el año
		%span.year 2010
	#edo Posicionate sobre un estado
	#mx_map
	#seleccion_mapa 
		%input{type: "radio", value: "2006", name: "year"} Estadísticas 2006
		%br
		%input{type: "radio", value: "2008", name: "year"} Estadísticas 2008
		%br
		%input{type: "radio", value: "2010", name: "year"} Estadísticas 2010

#pronabes-chart
