.unit
  .container.project_form_wrapper
    = form_for [@student, @project] do |f|
      .columns.on-2
        .column.fixed{style: "width:200px"}
          = f.label :title, "Título"
        .column.fixed{style: "width:500px"}
          %span= f.text_field :title, class: "inp"
      .columns.on-2
        .column.fixed{style: "width:200px"}
          = f.label :goal, "Dinero necesario"
        .column.fixed{style: "width:500px"}
          %span= f.number_field :goal, class: "inp"
      .columns.on-2
        .column.fixed{style: "width:200px"}
          = f.label :finish_date, "¿Para cuándo?"
        .column.fixed{style: "width:500px"}
          %span= f.date_select :finish_date
      .columns.on-2
        .column.fixed{style: "width:200px"}
          = f.label :category_id, "Área de interés"
        .column.fixed{style: "width:500px"}
          %span= f.collection_select :category_id, Category.all, :id, :name, class: "inp"
      .columns.on-2
        .column.fixed{style: "width:200px"}
          = f.label :why, "¿Por que necesitas la beca?", class: "h-100"
        .column.fixed{style: "width:500px"}
          %span.h-100= f.text_area :why, class: "h-100"
      .columns.on-2
        .column.fixed{style: "width:200px"}
          = f.label :dreams, "¿Cuáles son tus sueños?", class: "h-100"
        .column.fixed{style: "width:500px"}
          %span.h-100= f.text_area :dreams, class: "h-100"
      .columns.on-2
        .column.fixed{style: "width:200px"}
          = f.label :abilities, "¿Cuáles han sido tus logros ultimamente?", class: "h-100"
        .column.fixed{style: "width:500px"}
          %span.h-100= f.text_area :abilities, class: "h-100"
      .columns.on-2
        .column.fixed{style: "width:200px"}
          = f.label :better_country, "¿Cómo usarias esto para hacer de México un país mejor?", class: "h-100"
        .column.fixed{style: "width:500px"}
          %span.h-100= f.text_area :better_country, class: "h-100"
      .unit
        = f.submit "Registrar proyecto", class: "submit"