.column.project
	.container
		= image_tag "circle_2.png", class: "image"
		%strong.name
			= project.student.full_name
		.info
			%h2
				= link_to project.title, project_path(project.id)
			%p
				= truncate project.student.bio, length: 100
			%p= link_to "Ver más >", project
		.bar
			.percentage
				.completed{style: "width:#{number_to_percentage project.current_percentage, precision: 0}"}
		%ul.data.unit
			%li.avance
				%strong= number_to_percentage project.current_percentage, precision: 0
				%br
				Avance
			%li.acumulado
				%strong= number_to_currency project.funded_count
				%br
				Acumulado
			%li.dias
				%strong= project.days_left
				%br
				Días restantes
