%h1.title
  Descubre nuevos <strong>proyectos</strong> y ayuda a cumplir los sueños de alguien

.columns.on-2
  .column.fixed{style: "width:720px"}
    .columns.on-3.projects
      - @projects.each do |project|
        = render project

      - if @projects.empty?
        .columns.projects.elastic-row-last{style: "width: 240px;"} &nbsp;

  .column.fixed{style: "width:190px"}
    .container.categories
      %ul
        %li
          %strong
            Populares
        %li
          %a{href: "#"}
            Más populares
        %li
          %a{href: "#"}
            Más nuevos
        %li
          %strong
            Categorias
        - Category.all.each do |category|
          %li
            %a{href: "#"}
              = category.name

