.show-proyecto
	%h1 
		= @project.title

	.columns.on-2
		.container.shadow
			.column.fixed{style: "width:610px"}
				.container.info.columns.on-2{style: "padding-right:20px;"}
					.column.fixed{style: "width: 240px;"}
						- if @project.student.provider.present?
							= image_tag @project.student.image, class: "avatar"
						- else
							= image_tag "avatar.png", class: "avatar"
					.column.fixed{style: "width: 350px"}
						%h2
							= @project.student.full_name
						.ubicacion
							%i.icon-map-marker
							= @project.student.city
							,
							= @project.student.state
						.category
							%i.icon-tags
							= @project.category.name
						.pitch
							= @project.student.bio
			.column.fixed{style: "width:260px"}
				.container.data
					%ul.data.unit
						%li.acumulado
							%strong= number_to_currency @project.funded_count
							%br
							Acumulado de #{number_to_currency @project.goal}
						%li.avance
							%strong= number_to_percentage @project.current_percentage, precision: 0
							%br
							Avance
						%li.dias
							%strong= @project.days_left
							%br
							Días restantes
					- if user_signed_in? and current_user.is_angel? 
						= form_for [@project, @fund] do |f|
							.unit{style: "margin-bottom:10px;"}
								= f.label :amount, "Cantidad"
								= f.number_field :amount, class: "cantidad"
							.unit
								= f.submit "Donar", class: "donar"
					- elsif user_signed_in?
						%a.donar
							Donar
					- else
						= link_to "Donar", new_angel_path, class: "donar"
					
	.columns.on-2.preguntas
		.container.shadow
			.column.fixed{style: "width:610px"}
				.container{style: "padding-right:20px;"}
					%h4
						¿Por quá quieres o necesitas una beca?
					%p
						= @project.why
					%h4
						¿Cuáles son tus sueños?
					%p= @project.dreams
					%h4
						¿Cuáles han sido tus logros ultimamente?
					%p= @project.abilities
					%h4
						¿Cómo usarias esto para hacer de México un país mejor?
					%p= @project.better_country
			
			.column.fixed{style: "width:260px"}
				.container.data
					%strong.rewards
						Aportaciones
					%ul.data.unit
						- 3.times do |t|
							%li
								%strong
									= "$ "+ (500*(t+1)).to_s
								%p
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
									tempor incididunt ut.
