%h1 Iniciar Sesión

.unit
  .container.auth_wrapper
    = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
      .unit
        = f.label :correo
        = f.email_field :email, class: "inp"
      .unit
        = f.label :contraseña
        = f.password_field :password, class: "inp"
      - if devise_mapping.rememberable?
        .unit
          = f.label :recordarme
          = f.check_box :remember_me, class: "check"
      .unit
        = f.submit "Entrar", class: "submit"
      
    %hr
    %p{style: "text-align:center;margin-bottom:10px;"}
      También puedes
    .unit
      = link_to "Inicar sesion con Facebook", "users/auth/facebook" , class: "facebook"
    = render "devise/shared/links"
