@import "compass/css3";

/***************************************************
**	Auth Forms
***************************************************/

.auth_wrapper {
	width: 400px;
	padding: 30px;
	margin: 0 auto;
	border: 1px solid #CCC;
	background-color: #EFEFEF;
	@include border-radius(5px);

	div {
		margin-bottom: 10px;
	}

	label {
		float: left;
		width: 150px;
		padding: 5px;
	}

	input.inp {
		display: block;
		@include border-radius(5px);
		padding: 5px;
		background: none;
		background-color: #FFF;
		border: 1px solid #CCC;
		border-bottom: 2px solid #BBB;
		width: 220px;
	}
	input.check {
		display: block;
		float: left;
		@include border-radius(5px);
		margin-top: 5px;
	}
	input.submit, a.facebook {
		width: 400px;
		border: none;
		background-color: #A9C54C;
		@include border-radius(5px);
		display: block;
		text-align: center;
		font-size: 18px;
		color: #FFF;
		height: 40px;
		line-height: 40px;
		text-decoration: none;
		font-weight: bold;
		@include single-text-shadow(1px, 1px, 3px, #333);
		border-bottom: 2px solid #7a990d;
		margin-bottom: 20px;
		&:hover {
			cursor: pointer;
			background-color: #617C08;
			border-bottom: 2px solid #4a5e03;
		}
	}
	a.facebook {
		background-color: #3B5998;
  	border-bottom: 2px solid #143270;
	}
	hr {
		margin-bottom: 20px;
	}
	textarea {
		height: 100px;
		width: 220px;
		padding: 5px;
	}
	strong {
		display: block;
		padding: 10px 0;
		font-weight: bold;
	}

	.links {
		margin: 0;
		padding: 0;
		li {
			float: left;
			margin-right: 12px;
			list-style: none;

			a {
				color: #666;
				text-decoration: none;
				font-size: 13px;

				&:hover {
					color: #000;
					text-decoration: underline;
				}
			}
		}
	}
}
