div#edo{
	z-index: 2;
	position: absolute;
	margin-top: 55px;
	margin-left: 420px;
	color: #434FDE;
	font-size: 14px;
}

#content_mapa{
  width: 80%;
  margin: 0 auto;

  h2{
    margin: 10px 0 20px;
    text-align: center;
    font-size: 16px;
    color: #434FDE;
  }
}
