#pronabes-chart {
    width: 85%; 
    height: 800px; 
    margin: 0 auto;
}

h2.about {
	font-size: 56px !important;
	font-weight: bold;
	color: #617C08;
	margin-bottom: 25px !important; 
	text-align: center;
}

p {
	font-size: 16px;
	line-height: 22px;
	color: #444;
}
	
#seleccion_mapa {
    top: 600px;
    position: absolute;
    z-index: 1000;
    margin-left: 50px;
    line-height: 1.5;
}
