@import "compass/css3";

/***************************************************
**	Proyectos
***************************************************/

.categories {
	padding: 0 0 20px 20px;
	border-left: 1px solid #CCC;
	margin-left: 20px;

	ul {
		margin: 0;
		padding: 0;

		li {
			list-style: none;

				strong {
					display: block;
					padding: 15px 0 5px 0;
				}

				a {
					text-decoration: none;
					color: #A0B638;
					display: block;
					padding: 5px 0 5px 10px;

					&:hover{
						background-color: #cbe86b;
						color: #647e0d;
						@include border-radius(15px);
					}
				}
		}
	}
}

.projects {
	.project {
		padding-top: 25px;
		> .container {
			position: relative;
			width: 220px;
			margin: 0 auto;
			background-color: #EFEFEF;
			@include border-radius(5px);
			margin-bottom: 20px;
			border: 1px solid #DDD;
			padding: 0px 0px ;
			@include single-box-shadow(#DDD, 0px, 0px, 7px, 0px);

			img {
				position: absolute;
				width: 80px;
				height: 80px;
				top: -25px;
				left: 5px;
				@include single-box-shadow(#999, 0px, 3px, 5px, 0px);
				@include border-radius(50%);
			}
			.name {
				display: block;
				padding: 10px 0;
				font-size: 14px;
				font-weight: bold;
				padding-left: 95px;
				padding-right: 5px;
				color: #666;
			}
			.info {
				background-color: #FFF;
				padding: 25px 10px 10px 10px;
				height: 130px;
				border-top: 1px solid #DDD;
				border-bottom: 1px solid #DDD;

				h2 {
					font-weight: bold;
					font-size: 16px;
					margin-bottom: 10px;
					
				}
				a {
					color: #89a91e;
					text-decoration: none;
				}

				p {
					font-size: 14px;
					color: #666;
					margin-bottom: 20px;
				}
			}
			.bar {
				height: 10px;
				padding: 10px;
				padding-bottom: 5px;
				.percentage, .completed {
						background-color: #CCC;
						width: 100%;
						height: 10px;
						@include border-radius(5px);
					}
					.completed {
						background-color: #a9c54c;
					}
			}
			.data {
				margin: 0;
				padding: 10px;
				li {
					list-style: none;
					float: left;
					width: 66px;
					font-size: 11px;
					color: #666;

					strong {
						font-weight: bold;
						font-size: 13px;
						color: #333;
					}
				}
				li.avance 		{ width: 50px; }
				li.acumulado 	{ width: 75px; }
				li.dias 			{ width: 75px;}

			}
		}
	}
}

/***************************************************
**	Proyectos SHOW
***************************************************/

.show-proyecto {

	padding: 0 20px;

	.container.info {

		.avatar {
			float: left;
			border: 10px solid #DDD;
			@include border-radius(5px);
			margin-right: 20px;
			width: 200px;
			height: 200px;
		}

		h2 {
			font-size: 26px;
			margin-bottom: 0;
		}

		.ubicacion, .category {
			color: #999;
			height: 25px;
			line-height: 25px;
		}

		.pitch {
			margin-bottom: 20px;
		}

		.category {
			margin-bottom: 20px;
		}

	}

	.container.data {
		background-color: #EFEFEF;
		@include border-radius(5px);
		padding: 20px;
		border: 1px solid #DDD;

		ul {
			margin: 0;
			padding: 0;
			margin-bottom: 10px;
			li {
				display: block;
				list-style: none;
				padding-bottom: 5px;
				font-size: 16px;
				line-height: 20px;
				color: #666;

				strong {
					font-size: 36px;
					font-weight: bold;
					line-height: 40px;
					color: #000;
				}
			}
			li.avance, li.dias {
				width: 49%;
				float: left;
			}
			li.acumulado {
				margin-bottom: 15px;
			}
		}
		.bar {
			height: 10px;
			padding-bottom: 5px;
			.percentage, .completed {
					background-color: #CCC;
					width: 100%;
					height: 10px;
					@include border-radius(5px);
				}
				.completed {
					background-color: #a9c54c;
				}
		}
		.donar {
			background: none;
			border: none;
			width: 100%;
			background-color: #A9C54C;
			@include border-radius(5px);
			display: block;
			text-align: center;
			font-size: 18px;
			color: #FFF;
			height: 40px;
			line-height: 40px;
			text-decoration: none;
			font-weight: bold;
			@include single-text-shadow(1px, 1px, 3px, #333);
			border-bottom: 2px solid #7a990d;

			&:hover {
				background-color: #617C08;
				border-bottom: 2px solid #4a5e03;
			}
		}
		.cantidad {
			width: 50%;
		}
	}

	.preguntas {

		h4 {
			font-size: 20px;
			padding: 10px 0;
			color: #89A91E;
		}

		p {
			font-size: 14px;
			color: #666;
			margin-bottom: 15px;
			padding-left: 20px;
		}

		.data {

			.rewards {
				padding: 10px 0;
				font-size: 20px;
				display: block;
			}

			li {
				padding: 10px 0 !important;
				border-top: 1px solid #CCC;
			}

			p {
				padding: 0 0 0 20px;
				margin: 0;
				color: #666;
			}
		}

	}

}


/***************************************************
**	Forma de Proyecto
***************************************************/

.project_form_wrapper {
	width: 700px;
	padding: 30px;
	margin: 0 auto;
	border: 1px solid #CCC;
	background-color: #EFEFEF;
	@include border-radius(5px);

	label, span {
		display: block;
		padding: 20px;
		background-color: #d5e298;
		border-bottom: 1px solid #a7ba53;
		@include border-left-radius(5px);
		height: 30px;
	}
	span {
		border: none;
		@include border-left-radius(0);
		@include border-right-radius(5px);
		background-color: #FFF;
		border-bottom: 1px solid #a7ba53;
	}
	.h-25 	{ height: 25px; }
	.h-50 	{ height: 50px;	}
	.h-100 	{ height: 100px; }

	div.columns {
		margin-bottom: 10px;
	}

	input.inp {
		display: block;
		@include border-radius(5px);
		padding: 5px;
		background: none;
		background-color: #FFF;
		border: 1px solid #CCC;
		border-bottom: 2px solid #BBB;
		width: 350px;
	}
	input.check {
		display: block;
		float: left;
		@include border-radius(5px);
		margin-top: 5px;
	}
	input.submit {
		margin: 0 auto;
		width: 400px;
		border: none;
		background-color: #A9C54C;
		@include border-radius(5px);
		display: block;
		text-align: center;
		font-size: 18px;
		color: #FFF;
		height: 40px;
		line-height: 40px;
		text-decoration: none;
		font-weight: bold;
		@include single-text-shadow(1px, 1px, 3px, #333);
		border-bottom: 2px solid #7a990d;
		margin-top: 30px;
		&:hover {
			cursor: pointer;
			background-color: #617C08;
			border-bottom: 2px solid #4a5e03;
		}
	}
	hr {
		margin-bottom: 20px;
	}
	textarea {
		width: 100%;
	}

	.links {
		margin: 0;
		padding: 0;
		li {
			float: left;
			margin-right: 12px;
			list-style: none;

			a {
				color: #666;
				text-decoration: none;
				font-size: 13px;

				&:hover {
					color: #000;
					text-decoration: underline;
				}
			}
		}
	}
}