

@import "compass/css3";

/***************************************************
**	Variables & Functions
***************************************************/


@mixin radius($num) {
	border-radius: $num;
	-ms-border-radius: $num;
	-moz-border-radius: $num;
	-webkit-border-radius: $num;
	-khtml-border-radius: $num;
}

/***************************************************
**	General Style and Wrappers
***************************************************/

html {
	background: url("/assets/top_bg.png") repeat-x top center;
}

* {
	font-family: 'Trebuchet MS', Cambria, Helvetica, Arial, sans-serif !important;
}

.wrapper {
	width: 1050px;
	margin: 0 auto;
}

.body_wrapper {
	padding: 20px;
}

h1 {
	margin: 0 0 10px 0;
	padding: 20px 200px 80px;
	background: url("/assets/title_shadow.png") no-repeat bottom center;
	font-size: 30px;
	font-weight: normal;
	text-align: center;
	color: #333;
	
	strong {
		color: #89A91E;
		font-weight: bold;
		@include single-text-shadow(1px, 1px, 1px, #596e14);
	}
}

.shadow {
	background: url("/assets/title_shadow.png") no-repeat bottom center;
	padding-bottom: 80px;
	margin-bottom: 10px;
}

/***************************************************
**	HEADER
***************************************************/

.header {
	height: 120px;

	> .container {
		background: url("/assets/top_shadow.png") no-repeat bottom center;
		height: 120px;

		.auth_menu {
			padding-top: 45px;

			a,span {
				float: right;
				margin-left: 15px;
				@include border-radius(5px);
				background-color: #444;
				color: #FFF;
				padding: 10px 20px;
				display: block;
				text-decoration: none;
				font-size: 13px;
				border-bottom: 2px solid #000000;
			}
			span {
				background: none;
				border: none;
				color: #000;
			}
			a.facebook {
				background-color: #3B5998;
				border-bottom: 2px solid #143270;
				&:hover{
					background-color: #143270;
					border-bottom: 2px solid #3B5998;
				}
			}
			a.proyecto {
				background-color: #627C00;
				border-bottom: 2px solid #3f4f00;

				&:hover {
					background-color: #3f4f00;
					border-bottom: 2px solid #627C00;
				}
			}
		}
	}

	.logo {
		margin-top: 30px;
	}
}

/***************************************************
**	MENU
***************************************************/

.menu {
	width: 950px;
	height: 80px;
	background: url("/assets/menu_bg.png") no-repeat top center;

	ul {
		margin: 0;
		padding: 0;
		padding-left: 20px;
		background: url("/assets/menu_line.png") no-repeat 20px 0;
		height: 80px;
		width: 950px;

		li {
			float: left;
			list-style: none;
			width: auto;
			height: 80px;
			padding: 0 20px;
			line-height: 80px;
			background: url("/assets/menu_line.png") no-repeat top right;
			font-weight: bold;
			color: #000;
			font-size: 18px;

			a {
				display: block;
				height: 100%;
				text-decoration: none;
				font-weight: bold;
				color: #000;
				font-size: 18px;

				&:hover {
					color: #617c08;
				}
			}
		}
		li.active {
			background: #FFF url("/assets/menu_line.png") no-repeat top right;

			a {
				color: #617c08;
			}
		}
	}
}

/***************************************************
**	Apoyalos Sidebar
***************************************************/
.apoyalos {
	background: url("/assets/apoyalos_bg.png") repeat-y top center;
	height: 100%;
	min-height: 700px;

	.circles {
		padding: 10px;
		img {
			margin-bottom: 20px;
			@include single-box-shadow(#555, 0px, 3px, 10px, 0px);
			@include border-radius(50%);
		}
	}

	.popper {
		position: relative;

		.pop {
			display: none;
			position: absolute;
			width: 360px;
			height: 180px;
			left: 83px;
			top: 0;
			background: url("/assets/pop_out_bg2.png") no-repeat left top;
			
			> .container {
				padding: 10px 0 10px 21px;

				.info {
					> .container {
						padding: 10px;

						.mini_wrapper {
							height: 125px;
						}

						h3 {
							color: #89a91e;
							font-weight: bold;
							font-size: 18px;
							margin-bottom: 10px;
						}

						p {
							font-size: 14px;
							color: #666;
							margin-bottom: 20px;
						}

						.percentage, .completed {
							background-color: #e1e1e1;
							width: 100%;
							height: 10px;
							@include border-radius(5px);
						}
						.completed {
							background-color: #a9c54c;
						}
					}
				}

				.data {
					ul {
						margin: 0;
						padding: 0;
						li {
							height: 30px;
							display: block;
							list-style: none;
							padding: 5px 10px;
							font-size: 11px;
							color: #444;

							strong {
								font-size: 14px;
								font-weight: bold;
								line-height: 18px;
							}

							a {
								width: 80px;
								height: 21px;
								@include border-radius(5px);
								text-align: center;
								font-size: 14px;
								color: #FFF;
								line-height: 21px;
								padding: 4px;
								display: block;
								text-transform: none;
								@include single-text-shadow(1px, 1px, 3px, #333);
							
								&:hover{
									background-color: #668306;
									text-decoration: none;

								}
							}
						}
					}
				}
			}
		}

		&:hover {
			width: 300px;
			.pop {
				display: block;
				z-index: 100;
			}
		}
	}
}

/***************************************************
**	BODY
***************************************************/

.body {
	> .container {
		position: relative;
		
		.shaddy_right {
			position: absolute;
			width: 25px;
			height: 240px;
			top: 30px;
			right: -25px;
			background: url("/assets/shaddy_right.png") no-repeat;
		}
		.shaddy_bot {
			position: absolute;
			width: 25px;
			height: 240px;
			bottom: 0;
			right: -25px;
			background: url("/assets/shaddy_bot.png") no-repeat;
		}
	}
	
}



/***************************************************
**	Footer
***************************************************/

.footer {
	height: 150px;
	background-color: #000;

	* {
		color: #FFF;
	}

	.botter {
		background-color: #FFF;
		@include border-bottom-radius(5px);
		height: 20px;
	}
	.content {
		padding-top: 20px;
	}
}