.columns.on-2
  .column.fixed{style: "width:100px;"}
    &nbsp;
  .column.fixed{:style => "width:950px;"}
    .unit.botter
.unit.content 
  %p
    Powered by #{link_to "Icalia Labs", "http://icalialabs.com", target: "_blank"}
