.column
  = image_tag "logo_becalia.png", class: "logo"
.column
  .container.auth_menu
    - if user_signed_in?
      = link_to "Salir", destroy_user_session_path, method: :delete
      - if current_user.is_student?
        = link_to "Agregar proyecto", new_student_project_path(current_user.userable), class: "proyecto"
      = link_to "Editar perfil", edit_student_path(current_user.userable)
      %span= "Hola "+current_user.userable.name
    - else
      = link_to "Iniciar sesión", new_user_session_path, class: "iniciar"
      = link_to "Soy estudiante", new_student_path, class: "iniciar"
      = link_to "Soy ángel", new_angel_path, class: "iniciar"
