.unit.menu
	%ul
		- if controller.controller_name == 'pages' && controller.action_name == 'home'
			%li.active
				= link_to "Inicio", root_path
		- else
			%li
				= link_to "Inicio", root_path

		- if controller.controller_name == 'projects'
			%li.active
				= link_to "Proyectos", projects_path
		- else
			%li
				= link_to "Proyectos", projects_path
				
		- if controller.controller_name == 'pages' && controller.action_name == 'info'
			%li.active
				= link_to "Datos", info_path
		- else
			%li
				= link_to "Datos", info_path
