!!! 5
%html
  %head
    %title Becalia
    = stylesheet_link_tag "application", :media => "all"
    = csrf_meta_tags
    = javascript_include_tag "application", "http://gentle-waters-9528.herokuapp.com/faye.js "

  .unit.header
    .container.wrapper.columns.on-2
      = render "layouts/header"
  
  .unit.body
    .container.wrapper.columns.on-2.same-height
      .column.fixed{style: "width:100px;"}
        .container.full-height{style: "padding-top:30px;"}
          = render "shared/apoyalos"
      .column.fixed{:style => "width:950px;"}
        .shaddy_right
        .shaddy_bot
        = render "layouts/menu"
        .unit
          .container.body_wrapper
            = yield

  .unit.footer
    .container.wrapper
      = render "layouts/footer"
